.form-contact{
    margin-top: 30px;
    input, textarea{
        margin: 15px 0;
        width: 100%;
        display: block;
    }

    .button{
        color: #FFF;
        text-transform: uppercase;
        font-size: 14px;
        padding: 20px
    }
}

.map-contact{
    margin-top: 100px;
}
