.header-single{
    padding: 120px 0;
    background-size: cover;
    background-position: center;
    text-align: center;
    position: relative;

    &:before{
        content:'';
        width: 100%;
        height: 100%;
        background: rgba(#000, .8);
        position: absolute;
        left: 0;
        top: 0;
    }

    .category{
        li{
            display: inline-block;
            font-weight: 300;
            color: #FFF;
            &:before{
                content: '/';
                color: #FFF;
                margin: 0 5px;
            }

            &:first-child{
                &:before{
                    display: none;
                }
            }
            a{
            }
        }
    }

    .title-single{
        position: relative;
        z-index: 3;
        .title{
            color: #FFF;
            font-size: 35px;
            margin-top: 10px;
            font-weight: 800;
            text-transform: uppercase;
        }
    }

}
.galerie-car{
    margin-top: -50px;
    .img-full{
        img{
            width: 100%;
        }
    }
}

.info-vehicule{
    margin-top: 30px;
    padding: 20px;


    .description{
        font-size: 16px;
        line-height: 22px;
    }

    .price{
        margin-top: 20px;
        font-size: 30px;
        font-weight: 700;
    }

    .call-to-action{
        margin-top: 25px;
    }
    .button{
        display: inline-block;
        width: 40%;
    }
}

.related-product{
    margin-top: 30px;
}
